<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  
  <title>{{wi.title()}}</title>

  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">

<style>
.text-size-0 {
  font-size: 120%;
}  

.text-size-1 {
  font-size: 90%;
}  

.text-size-2 {
  font-size: 120%;
}

.text-size-3 {
  font-size: 150%;
}

.text-style-1 {
  font-weight: bold;
}  

.text-style-2 {
  font-style: italic;
}

.text-style-3 {
  font-weight: bold;
  font-style: italic;
}

.text-color-1 {
  color: black;
}

.text-color-2 {
  color: blue;
}

.text-color-3 {
  color: black;
}

.text-color-4 {
  color: black;
}

.text-color-5 {
  color: gray;
}

.text-color-6 {
  color: green;
}

.text-color-7 {
  color: black;
}

.text-color-8 {
  color: black;
}

.text-color-9 {
  color: red;
}

.text-color-10 {
  color: white;
}

.text-color-11 {
  color: yellow;
}

.badge1{color:#fff;background-color:#333}

</style>   

</head>
<body>  
  <div class="container-fluid">
    {% block content %}{% endblock %}      
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
