{% extends "base.html" %}
{% block content %}

<div class="panel panel-default">
  <!-- Обычное содержимое панели -->
  <div class="panel-heading"><b>{{wi.title}}</b></div>
  
  {% for row in wi.d.rows%}
  <table class="table table-bordered table-hover">
    <tbody>
      {% for col in wi.d.cols %}
      <tr>
        <td>
            {{col['TITLE']}}
        </td>
        <td>
          {% if col['ACT'] %} 
           <a href="">{{row[col['FIELD']]}}</a>
           {% else %}
           {{row[col['FIELD']]}}
           {% endif %}
        </td>    
      </tr>
      {% endfor %}        
    </tbody>    
  </table>    
  {% endfor %}
</div>



{% endblock %}

