{% extends "base.html" %}
{% block content %}

<div class="list-group">
  {% for band in wi.bands %}
    <div class="list-group-item list-group-item-info"> 
    <h4 >{{band}}</h4>
    </div>
    {% for row in wi.bandrows[band] %}
    <div class="list-group-item"> 
    {{wi.html_row(row)|safe}}  
    </div>
    {% endfor %}                    
  {% endfor %}                    
<div>
{% endblock  %}
