{% extends "base.html" %}
{% block content %}

<div class="list-group">
    % for row in wi.d
    <a href="{{url_for('show', page=row['UI'])}}" class="list-group-item list-group-item-info">
        <h3 class="list-group-item-heading">{{row['TITLE']}}</h3>
       
    </a>
    % endfor
</div>


{% endblock %}

